.navbar__logo {
    border-radius: 50% !important;
}

.theme__dark {
  .resume__header--name {
    color: #aed581;
  }

  .resume__section--meta {
    color: #bdbdbd !important;
  }

  .single__contents h5 {
    color: #aed581 !important;
    margin-top: 1rem !important;
  }

  .resume__section--subtitle {
    color: #ffd866;
  }
}

